/* Contact Page Specific Styles */

/* Main Section */
.contact-main {
}

/* Hero Section */
.contact-hero {
    height: 50vh;
    min-height: 400px;
}

/* Contact Section */
.contact-form-container h2 {
    text-align: left;
}

/* Contact Map Iframe */
.contact-map iframe {
    border: 0;
}
